@import url("./fonts.css");

.App {
    background-color: #181818;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.mainContent {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 15rem - 8px);

    position: relative;
    margin-top: 60px;
    margin-left: 15rem;
}
.videos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 16px;
    padding: 24px;
    margin-top: 120 px;
    /* padding-top: 84px; */
    margin-top: 60px !important;
}

@media screen and (max-width: 1200px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 950px) {
    .videos {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 780px) {
    .videos {
        grid-template-columns: 1fr;
    }
}
